a:not([href]):hover,
a:hover {
    text-decoration: none;
}

.collapse.in {
    display: block !important;
}

.select2-container--bootstrap
    .select2-results__option--highlighted[aria-selected] {
    background-color: $primary !important;
    color: $white !important;
}

#my-strictly-unique-vue-upload-multiple-image {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
