// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//utilities
@import "utilities/utilities";

// global css
@import "global";

//custom components
@import "components/button";

// vue good table
@import "~vue-good-table/dist/vue-good-table.css";
@import "components/vue-good-table";
